@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #324B47;
  background-color: #F5C9E0;
}

.bg-rosa {
  background-color: #F5C9E0;
  color: #324B47;
}

.bg-verde {
  background-color: #324B47;
  color: #F5C9E0;
}

.borde_abajo {
  border-bottom-color: #324B47;
}

.navegador{
  background-color: rgba(50, 75, 71,0.35);

}

.heroImage{
  object-fit:cover;
  
}

.heroImageMD{
  object-fit:contain;
}


.heroSlider::before{
  content:'';
  z-index: 20;
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(50, 75, 71,0.3);
}

.fade-in {

  -webkit-animation: fadein 1.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.2s;
  /* Internet Explorer */
  -o-animation: fadein 1.2s;
  /* Opera < 12.1 */
  animation: fadein 1.2s;

}

.fade-out {

  -webkit-animation: fadeout 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadeout 1.5s;
  /* Internet Explorer */
  -o-animation: fadeout 1.5s;
  /* Opera < 12.1 */
  animation: fadeout 1.5s;

}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}