@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #324B47;
  background-color: #F5C9E0;
}

.bg-rosa {
  background-color: #F5C9E0;
  color: #324B47;
}

.bg-verde {
  background-color: #324B47;
  color: #F5C9E0;
}

.borde_abajo {
  border-bottom-color: #324B47;
}

.fade-in {

  -webkit-animation: fadein 1.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.2s;
  /* Internet Explorer */
  -o-animation: fadein 1.2s;
  /* Opera < 12.1 */
  animation: fadein 1.2s;

}

.fade-out {

  -webkit-animation: fadeout 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadeout 1.5s;
  /* Internet Explorer */
  -o-animation: fadeout 1.5s;
  /* Opera < 12.1 */
  animation: fadeout 1.5s;

}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}